{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://backend-lb-118341714.us-east-1.elb.amazonaws.com","description":"Generated server url"}],"tags":[{"name":"Health Controller","description":"API for health monitoring of the application"},{"name":"Task Controller","description":"API for managing tasks"},{"name":"Authentication Controller","description":"Public API for managing user authentication"},{"name":"Category Controller","description":"API for managing categories and their assignment to tasks"}],"paths":{"/api/tasks/{id}":{"get":{"tags":["Task Controller"],"summary":"Get a task by ID","description":"Retrieves a task by its ID for the authenticated user.","operationId":"getTaskById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Task retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"404":{"description":"Task not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"403":{"description":"Forbidden - Task does not belong to user","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}}}},"put":{"tags":["Task Controller"],"summary":"Edit a task","description":"Updates an existing task for the authenticated user.","operationId":"editTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}},"required":true},"responses":{"404":{"description":"Task not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"403":{"description":"Forbidden - Task does not belong to user","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"200":{"description":"Task updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}}}},"delete":{"tags":["Task Controller"],"summary":"Delete a task","description":"Deletes a task by its ID for the authenticated user.","operationId":"deleteTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Task deleted successfully"},"404":{"description":"Task not found"},"403":{"description":"Forbidden - Task does not belong to user"}}}},"/api/categories/{taskId}/category/{categoryId}":{"put":{"tags":["Category Controller"],"summary":"Assign a category to a task","description":"Associates a category with a specific task for the authenticated user.","operationId":"assignCategoryToTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"categoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"200":{"description":"Category assigned to task successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}}}}},"/api/tasks":{"get":{"tags":["Task Controller"],"summary":"Get all tasks","description":"Retrieves all tasks for the authenticated user.","operationId":"getAllTasksForAuthenticatedUser","responses":{"200":{"description":"Tasks retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"401":{"description":"Unauthorized access","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Task"}}}}}}},"post":{"tags":["Task Controller"],"summary":"Create a task","description":"Creates a new task for the authenticated user.","operationId":"createTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}},"required":true},"responses":{"200":{"description":"Task created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"401":{"description":"Unauthorized access","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}}}}},"/api/categories":{"post":{"tags":["Category Controller"],"summary":"Create a new category","description":"Creates a category for the authenticated user.","operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Category"}}},"required":true},"responses":{"200":{"description":"Category created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}},"401":{"description":"Unauthorized"}}}},"/api/auth/exchange":{"post":{"tags":["Authentication","Authentication Controller"],"summary":"Exchange authorization code for tokens","description":"Exchanges a Cognito authorization code for access, refresh, and ID tokens.","operationId":"exchangeCodeForTokens","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","required":true,"schema":{"type":"string"}},{"name":"client_secret","in":"query","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"string","example":{"error":"Failed to retrieve tokens"}}}}},"200":{"description":"Tokens exchanged successfully","content":{"application/json":{"schema":{"type":"string","example":{"accessToken":"<access_token>","refreshToken":"<refresh_token>","cognitoEmail":"<user_sub>"}}}}},"400":{"description":"Invalid request or missing parameters","content":{"application/json":{"schema":{"type":"string","example":{"error":"Code is required"}}}}}}}},"/health":{"get":{"tags":["Health Controller"],"summary":"Health Check","description":"Checks if the application is running and healthy.","operationId":"healthCheck","responses":{"500":{"description":"Application is not healthy.","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Application is healthy.","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/tasks/filter":{"get":{"tags":["Task Controller"],"summary":"Filter tasks","description":"Filters tasks based on status, category, or sort order.","operationId":"getTasksByFilters","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}}],"responses":{"200":{"description":"Tasks filtered successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Invalid filter parameter","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Task"}}}}},"401":{"description":"Unauthorized access","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Task"}}}}}}}},"/api/categories/{id}":{"get":{"tags":["Category Controller"],"summary":"Get a category by ID","description":"Fetches a specific category by its ID for the authenticated user.","operationId":"getCategoryById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Category retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}}}},"delete":{"tags":["Category Controller"],"summary":"Delete a category","description":"Deletes a category by its ID for the authenticated user.","operationId":"deleteCategory","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"Unauthorized"},"204":{"description":"Category deleted successfully"}}}},"/api/categories/user":{"get":{"tags":["Category Controller"],"summary":"Get user categories","description":"Retrieves all categories for the authenticated user.","operationId":"getUserCategories","responses":{"200":{"description":"Categories retrieved successfully","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"Category":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"createdAt":{"type":"string","format":"date"},"user":{"$ref":"#/components/schemas/User"}}},"Task":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"deadline":{"type":"string","format":"date"},"createdAt":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["TO_DO","IN_PROGRESS","COMPLETED"]},"priority":{"type":"string","enum":["LOW","MEDIUM","HIGH"]},"user":{"$ref":"#/components/schemas/User"},"category":{"$ref":"#/components/schemas/Category"}}},"User":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"username":{"type":"string"},"userSub":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}}}}}